<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Login</title>
        </head>
        <body>
            <div>
                <h1> Iniciar Sesión </h1>
                <form method="post" >
                    {% csrf_token %}
                    <div>
                        <label for="nombre_usuario">Nombre</label>
                        <input type="text" id=nombre_usuario name="username" required>
                    </div>
                    <div>
                        <label for="contraseña">Contraseña</label>
                        <input type="password" id="contraseña" name="contraseña" required>
                    </div>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </body>
        </html>